.menu {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    background-color: black;
    width: 60%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    border: 2px solid white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: black;
    border: none;
}

button:hover {
    cursor: pointer;
}