.login {
    background-color: black;
    width: fit-content;
    font-size: 25px;
    padding: 10px;
    border-radius: 15px;
}

.welcome {
    font-size: 70px;
    color: white;
}

p {
    color: white;
    font-size: 25px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic {
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../assets/pic.png");
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: aliceblue;
}