.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 320px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
    text-align: center;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-card input {
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    margin-top: 10px;
}

.login-card button {
    width: 100%;
    margin-top: 10px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    padding: 14px;
    border: none;
    background: black;
    
}

.login-card button:hover {
    background: #333;
}

.signup {
    margin-top: 15px;
}

h2{
    background: linear-gradient(to right, rgb(80, 80, 225), rgb(186, 8, 8));
    background-clip: text;
    color: transparent;
    font-weight: bold;
    font-size: clamp(25px, 4vh, 48px);
}