#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.read-the-docs {
  color: #888;
}

.container{
  padding: 7px;
  border-radius: 40px;
  border: 2px ridge white;
  box-shadow: 0 4px 15px -3px rgba(255, 255, 255, 0.5);
}

.image{
  border-radius: 30px;
  border: 0.2px solid white;
  width:20vw;
  min-width: 100px;
}

.status{
  display:flex;
  align-items: center;
  justify-content: center;
}

.like, .upvote{
  margin: 10px;
  background-color: transparent;
  border: 0.2px solid grey;
}

.like_count{
  margin-right: 50px;
  color: white;
}

.upvote_count{
  color: white;
}